@page "/"
@inject AreaServices AreaServices
<div class="row">
    <div class="col col-3 m-3">
        <button class="btn btn-light m-3" @onclick="AddArea">Добавить</button>
    </div>
</div>
@if (AreasOrgCount == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Кол-во организаций</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var area in AreasOrgCount)
            {
                <tr>
                    <td>
                        <NavLink class="nav-link" href=@($"OrganizationsArea/{area.Area.Id}") Match="NavLinkMatch.All">
                            @area.Area.FullName
                        </NavLink>
                    </td>
                    <td>@area.CountOrg</td>
                    <td>
                        <button class="btn btn-danger" @onclick="() => Remove(area.Area.Id)">Удалить</button>
                        <button class="btn btn-danger" @onclick="() => Remove(area.Area.Id)">Изменить</button>
                    </td>
                </tr>
                <Confirm @ref="confirm" onCancel="onCancelDelete" onConfirm="onConfirm">
                    <div class="text-danger">Удалить ?</div>
                </Confirm>
                <Area @ref="areaModal" onCancel="onCancelArea" />
            }
        </tbody>
    </table>

}

@code {
    protected List<AreaCountOrg> AreasOrgCount;

    protected override async Task OnInitializedAsync()
    {
        AreasOrgCount = await AreaServices.GetAreasForIndexAsync();
    }
    int deletedOrg;
    Confirm confirm;
    Area areaModal;
    void Remove(int id)
    {
        deletedOrg = id;
        confirm.Show();
    }
    async void onConfirm()
    {
        confirm.Hide();
        await AreaServices.DelAreaAsync(deletedOrg);
        StateHasChanged();

    }
    void AddArea()
    {
        areaModal.Show();
    }
    void onCancelDelete()
    {
        confirm.Hide();
    }

    void onCancelArea()
    {
        areaModal.Hide();
    }

}


